
{% extends 'base.html' %}
{% block title %}Neidghbourhood Detaile{% endblock title %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-text">
                        {{hood.name}}
                    </h6>
                    <p class="card-text">
                        Occupants: {{hood.occupants}}
                    </p>
                    <p class="card-text">
                        location: {{hood.location}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


{% endblock content %}   