{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Post Business{% endblock title %}
{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form | crispy}}
            <button type="submit" class="btn btn-outline-primary">save</button>
        </form>
        </div>
      </div>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>

    
{% endblock content %}