{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="container">
<div class="row">
    {% if object_list %}
    <h4 class="text-muted mt-4 mb-4">Search results for <span>{{request.GET.q}}</span></h4>
    <hr>
        <!-- product -->
        <div class="col-md-2"></div>
        
        
        <div class="col-md-8">
          {% for bsn in object_list  %}
            <div class="card">
                <div class="card-body">
                    <p class="card-text">{{bsn.neighbourhood.name}}</p>
                    <h3 class="card-text"><a href="{% url 'find_business' bsn.id %}">{{bsn.name}}</a></h3>
                    <h3 class="card-text">{{bsn.email}}</h3>
  
                </div>
            </div>
            {% endfor %}
        </div>
        
       
        <div class="col-md-2"></div>
        <!-- /product -->
        


    </div>
    <!-- /store products -->
  {% else %}
    <div class="container-fluid mt-5 pt-4">
      <h4 class="text-muted mt-4 mb-4">{{request.GET.q}} not found</span></h4>
    </div> 
  {% endif %}  



</div>
{% endblock content %}